body {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
}

.gameBoard {
  background-color: #214517;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card {
  height: 8rem;
  width: 6rem;
  background-color: #f1ebec;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: .5rem;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #e5ac9d;
  border-radius: .5rem;
  transition: background-color 0.3s;
}

.cover.covered {
  background-color: #c62f2d;
}

.cover.matched {
  border-color: #9caf9f;
}

.youWin {
  position: absolute;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youWinContainer {
  background-color: #f1ebec;
  border-radius: .5rem;
  font-size: 2rem;
  padding: 1rem;
  height: 5rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.hidden {
  display: none;
}

html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
  color: #111;
}
